.nav-wrap{
  margin:0 0 1em;
  padding:5px 0;
  width:100%;
  background:#fff;
}
  .nav{
    display: block;
    margin:0 auto;
    padding:0;
    max-width:750px;
    list-style: none;
    li{
      margin:0;
      padding:0;
    }
  }