---
layout: default
---

{% for post in site.posts limit: 100 %}
<article>
	<h2><a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a></h2>
	<p><em>{{ post.date | date_to_long_string }}</em></p>
	<div class="entry">
		<i class="quote quote-left">&#8220;</i>
			{{ post.content }}
		<i class="quote quote-right">&#8221;</i>
	</div>
	<p><small><em>
	{% for tag in post.tags %}
		<a href="{{ site.url }}/tag/{{ tag }}">{{ tag }},</a>
	{% endfor %}
	</em></small></p>
</article>
{% endfor %}

<article>
	<h2>Have some hillarious recruiter emails to share?</h2>
	<p>
		Email Matt: me[at]mattboldt.com
	</p>
</article>